<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
    <title>Aaron Hayslip - FULLSTACK DEVELOPER</title>
    <link rel="stylesheet" type="text/css" href="index edit.css">
    
    <script src="http://code.jquery.com/jquery-1.10.1.min.js">
    </script>
    
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js">
    </script>
    
    <script type="text/javascript" src="//use.typekit.net/fxr2jdm.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
   
    
     <script src="script.js"></script>
    
</head>
<body>
    <nav class="nav">
        <ul id="links">
            <li><a href="#blank">SUMMARY</a></li>
            <li><a href="#projects">PROJECTS</a></li>
            <li><a href="#aaron">CONTACT ME</a></li>
            <li><a href="blog"  target="_blank">BLOG</a></li>
        </ul>
        <a href="#" id="pull"></a>
    </nav>
    <h1 id="blank">A</h1>
    <article class="summary">
        <%= image_tag('logo.png', {class: "logo"}) %>
        <h1 class="aaron">AARON HAYSLIP</h1>
        <h3 class="maker">Starting 11/11/13, I'll be on a 10 week coding journey with <a class="makerlink" href="http://www.themakersquare.com/" target="_blank">Maker Square.</a>  See what I can learn in just 10 weeks with the hashtag,
        </h3>    
        <h1 class="design"><a class="design" href="https://twitter.com/search?q=%23aaronlearns&src=typd&f=realtime" target="_blank">#AARONLEARNS</a></h1>
        
        
    </article>
    
        
    <article class="projects">
        <h2 id="projects">PROJECTS</h2>
        <h4 class="comingsoon"><a href="https://github.com/amhayslip" target="_blank">CLICK AND SEE MY {CODE}</a></h4>
        <a href="https://github.com/amhayslip" target="_blank"> <%= image_tag('macphone.png', {class: "macphone"}) %>

    </article>    
        
<!--           
    <article class="whatiknow">
        <h2 id="whatiknow">WHAT I KNOW</h2>
        
        <p class="whatiknow">
It's always changing, but that's part of what I love about web development.
            
        </p>
        <img class="aaron" src="images/face2.png">

    
        <section class="col1">
            <img class="inquire" src="images/html5grey.png" />
            <h4>HTML 5</h4>
            <p>
               
            </p>
        </section>   
            
        <section class="col2">
            <img class="plan" src="images/css3grey.png"/>
            <h4>CSS 3</h4>
            <p>
                
            </p>
        </section>    
        
        <section class="col3">
            <img class="build" src="images/rubygrey.png" />
            <h4>RUBY ON RAILS</h4>
            <p>
        
            </p>
        </section>    
        `
    
        <section class="col4">
            <img class="launch" src="images/" />
            <h4>JAVASCRIPT</h4>
            <p>
              
            </p>
        </section>
    </article>
-->        
    <article class="contact">
         <h2 id="contact">CONTACT</h2>

        <%= image_tag('face3.png', {id: "aaron"}) %>
        
    <p class="twitter"> <a class="twitter" href="https://twitter.com/aaronhayslip/" target="_blank">@aaronhayslip</a></p>
        
    <p class="email"> <a class="email" href="mailto:aaron@aaronhayslip.com">aaron@aaronhayslip.com</a></p>  
    <p class="blog"> <a class="blog" href="blog"  target="_blank">blog</a></p>    
     
<div class="about">    
    <div class="panel">
        <br />
        <br />
        <p class="me">I live in Austin, TX with my wife, Sarah.  I'm an apsiring developer working on my chops in Ruby/Rails, Javascript and all the cool libaries, CSS preprocessors and frameworks in between.</p>
    </div>
        <p class="slide"><a href="#boutme" class="pull-me">ABOUT</a></p>    
</div>        
    </article>
    
    
    
</body>
</html>
